{{define "resources"}}

<div rel="prefetch"  class="tab-pane fade " id="resources" role="tabpanel" aria-labelledby="resources-tab">


    <table class="table table-striped-columns table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Why</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit?usp=sharing" target="_blank">Google Doc Resources</a></td>
            <td>I needed a way as I was learning and building to reference material.</td>
          </tr>
        
          <tr>
            <th scope="row">2</th>
            <td><a href="https://www.youtube.com/watch?v=HJHCndEVoiA&list=PL_sE11fwtBT-0GqVHEX-tYTBzAIGHelQ6" target="_blank">Youtube</a></td>
            <td>Wanted to demonstrate things that I have built or learned so that others can use them.</td>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="https://medium.com/@snippet22/errors-in-go-1ebfa1c1b883" target="_blank">Medium</a></td>
            <td>Was a way to express ideas in a blog about Go.</td>
            
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><a href="https://twitter.com/ZacharyEndrulat" target="_blank">Twitter</a></td>
            <td>I use this to talk to others and share things.</td>
            
          </tr>
         
        </tbody>
      </table>


    </div>
{{end}}