{{define "tech"}}
<div rel="prefetch"  class="tab-pane fade" id="tech" role="tabpanel" aria-labelledby="tech-tab">


    <div class="row">
        <div class="col-3 sidebar sidem">
            <p>This is what I used to build this site.</p>
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#video"> - Video on Goservershell</a>
                <a class="list-group-item list-group-item-action" href="#what"> - What does it do?</a>
                <a class="list-group-item list-group-item-action" href="#why"> - Why build this project?</a>
                <a class="list-group-item list-group-item-action" href="#materialize"> - Materialize CSS</a>
                <a class="list-group-item list-group-item-action" href="#bootstrap"> - Bootstrap</a>
                <a class="list-group-item list-group-item-action" href="#go"> - Go</a>
                <a class="list-group-item list-group-item-action" href="#fontawesome"> - Font Awesome</a>

            </div>
        </div>
        <div class="col">
            <div data-bs-spy="scroll" data-bs-target="#video" data-bs-smooth-scroll="true"
            class="scrollspy-example" tabindex="0">
            <div id="video" class="card">
                <div class="card-header">
                  
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <ul class="collection">
                            <li class="collection-item">
                                <iframe class="iframevideo" width="560" height="315" src="https://www.youtube.com/embed/HJHCndEVoiA?si=7QBeqKw9AtIehqPG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </li>

                            <li class="collection-item">
                            <iframe class="iframevideo" width="560" height="315" src="https://www.youtube.com/embed/EbQZhMHv9oU?si=IVtseEdu0yIvVy8I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </li>
                    </p>
                </div>
            </div>
        </div>
        <div data-bs-spy="scroll" data-bs-target="#what" data-bs-smooth-scroll="true"
        class="scrollspy-example" tabindex="0">
        <div id="what" class="card">
            <div class="card-header">
              What does it do?
            </div>
            <div class="card-body">
                <p class="card-text">
                    <ul class="collection">
                       
                        <li class="collection-item">
                            I wanted to make this project because I felt there needed to be a 
                            way to generate handlers and routes and be able to update the 
                            frontend quickly.  
                        </li>
                        <li class="collection-item">
                           1. It is a shell for a server.
                        </li>
                        <li class="collection-item">
                            2. It generates routes and handlers that I built from scratch.
                        </li>
                        <li class="collection-item">
                            3. It hot reloads the site every time the file changes.
                        </li>
                        <li class="collection-item">
                            4. It does security that I did use some libraries for.
                               <ul>
                                <li><i class="fa-solid fa-chevron-right fa-xs iconsize"></i><span class="textcenter">a. Certificate generating for the server.</span></li>
                               <li> <i class="fa-solid fa-chevron-right fa-xs iconsize"></i><span class="textcenter"></span>b. naunce security for assets and css that I built from scratch.</span></li>
                               <li> <i class="fa-solid fa-chevron-right fa-xs iconsize"></i><span class="textcenter"></span>c. TLS and HTTPS security.</span></li>
                               <li> <i class="fa-solid fa-chevron-right fa-xs iconsize"></i><span class="textcenter"></span>d. It also does jwt security that I did use a library for the methods</span></li>
                               <li> <i class="fa-solid fa-chevron-right fa-xs iconsize"></i><span class="textcenter"></span>e. Encryption for the keys for jwt I had built and used core libraries for.</span></li>
                            </ul>
                        </li>
                        <li class="collection-item">
                            4. It also minifies your css, js, and images.  
                            It is a mix of libraries and my own coding.
                        </li>
                      </ul>
                </p>
            </div>
        </div>
    </div>
    <div data-bs-spy="scroll" data-bs-target="#why" data-bs-smooth-scroll="true"
                class="scrollspy-example" tabindex="0">
                <div id="why" class="card">
                    <div class="card-header">
                       What were my motivations?
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> motivations</h5>
                        <p class="card-text">
                            I had built a prior project called <a href="https://github.com/golangast/groundup" target="_blank">Groundup</a> that was my first attempt
                            at generating a project. It created a gui to generate apps and allow you
                            to start and stop them and generate databases and data. But then someone created 
                            the gonew command that pretty much made that a single click to generate a project 
                            from a repo.  
                        </p>
                        <p class="card-text">
                        
                                I wanted to make this project because I felt there needed to be a 
                                way to generate handlers and routes and be able to update the 
                                frontend quickly.  <a href="https://go.dev/blog/gonew" target="_blank">Gonew command</a>
                                So I decided to work on a shell instead that is focused on upkeep.
                        </p>
                    </div>
                </div>
            </div>
            <div data-bs-spy="scroll" data-bs-target="#materialize" data-bs-smooth-scroll="true"
                class="scrollspy-example" tabindex="0">
                <div id="materialize" class="card">
                    <div class="card-header">
                        Materialize
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Materialize CSS</h5>
                        <p class="card-text">I like Materialize because it lets you create pretty components without
                            having to mess much with details.
                            It also has a nice nav bar for mobile.</p>
                        <a href="https://materializecss.com/" class="btn btn-primary" target="_blank">Site</a>
                    </div>
                </div>
            </div>
            <div data-bs-spy="scroll" data-bs-target="#bootstrap" data-bs-smooth-scroll="true" class="scrollspy-example"
                tabindex="0">
                <div id="Bootstrap" class="card">
                    <div class="card-header">
                        Bootstrap
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Bootstrap</h5>
                        <p class="card-text">Bootstrap is nice for the same reasons as Materialize. It allows you to
                            easily customize the look and feel of the application.
                        </p>
                        <a href="https://getbootstrap.com/" class="btn btn-primary" target="_blank">Site</a>
                    </div>
                </div>
            </div>
            <div data-bs-spy="scroll" data-bs-target="#go" data-bs-smooth-scroll="true" class="scrollspy-example"
            tabindex="0">
            <div id="go" class="card">
                <div class="card-header">
                    Go
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Go</h5>
                    <p class="card-text">

                    </p>
                    <a href="https://go.dev/" class="btn btn-primary" target="_blank">Site</a>
                </div>
            </div>
        </div>
        <div data-bs-spy="scroll" data-bs-target="#fontawesome" data-bs-smooth-scroll="true" class="scrollspy-example"
        tabindex="0">
        <div id="fontawesome" class="card">
            <div class="card-header">
                Font Awesome
            </div>
            <div class="card-body">
                <h5 class="card-title"> Font Awesome</h5>
                <p class="card-text">

                </p>
                <a href="https://fontawesome.com" class="btn btn-primary" target="_blank">Site</a>
            </div>
        </div>
    </div>
        </div>
    </div>



</div>
{{end}}