{{define "about"}}
<div rel="prefetch" class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
  <meta name="description" content="About what zachary endrulat likes and does">
  <meta name="keywords" content="zachary endrulat about me">
  <meta name="author" content="zachary endrulat">
  <meta name="robots" content="follow, index">
  <center><h1 class="list-item-3 tac">Zachary Endrulat</h1></center>
  <div class="parallax-container paratoper para">
    <div class="parallax"><img  rel="prefetch" class="op" src="img/fl.webp" {{ .nonce }} alt="wife"></div>
  </div>
<div class="row">


  <div class="col">
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"  tabindex="0">
      
      <div class="row">
        <div class="col ">
          <div class="card col s12 m12 l4">
            <div class="card-image">
              <img  loading="lazy" class="brand-logo d-block w-100 para" width="693"  height="924" {{ .nonce }} src="img/me.webp" alt="logo"></a>
              <h4 id="list-item-1">
              <span class="card-title">About Me</span>
              </h4>
            </div>
            <div class="card-content">
              <p> Going out for walks</p>
            </div>
            <div class="card-action">
           
            </div>
          </div>
          <div class="card col s12 m12 l4">
            <div class="card-image">
              <img  loading="lazy" nonce="{{ .nonce }}" class="brand-logo d-block w-100 op"  {{ .nonce }} src="img/pizza.webp" alt="logo"></a>

              <span class="card-title">Making Pizza</span>
            </div>
            <div class="card-content">
              <p> Love Pizza</p>
            </div>
            <div class="card-action">
           
            </div>
          </div>
          <div class="card col s12 m12 l4">
            <div class="card-image">
              <img  loading="lazy" class="brand-logo d-block w-100 op" width="100%" height="auto"  {{ .nonce }} src="img/abe.jpg" alt="logo"></a>

              <span class="card-title">Abraham Lincoln</span>
            </div>
            <div class="card-content">
              <p> Love reading about Abraham Lincoln</p>
            </div>
            <div class="card-action">
           
            </div>
          </div>
        </div>
      </div>
      <h4 id="list-item-2">
        <h4 class="list-item-3 tac"><center>Love nature walks!</center></h4>
        <p class="tac">
         Nothing relieves stress like nature and I live by a lot of nature.  
        </p>
   
      <div class="parallax-container paramiddler para">
        <div class="parallax"><img loading="lazy" class="op" {{ .nonce }} src="img/nia.jpg" ></div>
      </div>

      </h4>
      <h4 class="list-item-3 tac"><center>I enjoy writing Go.</center></h4>
      <p class="tac">
        I love writing go because it is easy and everyone writes it the same.
        So it reading it becomes as easy as writing it.
      </p>
      <div class="parallax-container parabottomer para">
        <div class="parallax"><img loading="lazy" class="op" {{ .nonce }} src="img/gocode.webp" ></div>
      </div>

    </div>
  </div>
</div>
</div>



{{end}}