{{define "pizza"}}

<div rel="prefetch"  class="tab-pane fade " id="pizza" role="tabpanel" aria-labelledby="pizza-tab">
  <meta name="description" content="How to make pizzas">
  <meta name="keywords" content="zachary endrulat pizza">
  <meta name="author" content="zachary endrulat">
  <meta name="robots" content="follow, index">
<div class="card mb-3" >
  <div class="card-body">
    <h5 class="card-title">    I enjoy making pizza. I have made a Youtube video down below.
    </h5>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="op shadow-lg p-3 mb-5 bg-white rounded" nonce="{{ .nonce }}"  loading="lazy" width="100%" height="auto" src="img/pizza.webp" {{ .nonce }}  class="d-block w-100" alt="pizza">
        </div>
        <div class="carousel-item">
          <img class="op shadow-lg p-3 mb-5 bg-white rounded" nonce="{{ .nonce }}"  loading="lazy" width="100%" height="auto" src="img/pizza2.webp" {{ .nonce }}  class="d-block w-100" alt="pizza">
        </div>
        <div class="carousel-item">
          <img class="op shadow-lg p-3 mb-5 bg-white rounded" nonce="{{ .nonce }}"  loading="lazy" width="100%" height="auto" src="img/pizza3.webp" {{ .nonce }}  class="d-block w-100" alt="pizza">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        <img class="op " nonce="{{ .nonce }}"  lwidth="100%" height="auto" oading="lazy" src="img/left.png" {{ .nonce }}  class="d-block w-100" alt="arrow">

      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        <img class="op" nonce="{{ .nonce }}"  width="100%" height="auto" loading="lazy" src="img/right.png" {{ .nonce }}  class="d-block w-100" alt="arrow">

      </button>
    </div>
  </div>
</div>

 
<div class="card">
  <h5 class="card-header">Directions</h5>
  <div class="card-body">
    <h5 class="card-title">Made a video on how to make pizza</h5>
    <center><iframe nonce="{{ .nonce }}"  class="youtube" src="https://www.youtube.com/embed/bSDPhAKk11c?si=zfUJabqDrbsVF5VP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>

  </div>
</div>



    </div>



    {{end}}