{{define "history"}}
<div rel="prefetch"  class="tab-pane fade " id="history" role="tabpanel" aria-labelledby="history-tab">
    <meta name="description" content="History of my learning">
    <meta name="keywords" content="zachary endrulat history">
    <meta name="author" content="zachary endrulat">
    <meta name="robots" content="follow, index">
    <div class="row">
        <div class="col s12 m2">
            <h1 class="center ">This is my history with programming.</h1>
            <p class="par">
                I first started my interest in programming when I bought my first phone in around 2011 and wanted to try to change how
                it worked. I would download scripts or roms to try and change how it looked. I would visit
                https://www.xda-developers.com a lot and read about changes or hacks you can do to make the operating
                system work differently. This was around the time I was a drafter being subcontracted by BP.
            </p>
            <p class="par">
                I had always wanted to learn how to change these but I did not have the time. Eventually, the Exemplar
                project at BP was completed and they had laid off the whole floor of staff. So I talked to a friend who was a programmer
                and I had taken a few classes in introduction of programming and databases in 2011. I eventually kept taking
                programming classes like C# Programming I, C# Programming II, VB.NET Programming I, C++
                Programming I, PHP Programming I, PHP Programming II, Advanced Web Page Authoring, Spec Topic:
                Obj.-Oriented CSS. I eventually got the C# Programmer Certificate, PHP Programmer Certificate, and
                Database Admin Certificate.

            </p>
            <p class="par">
                On the side, during school, I picked up a lot about CSS and JQuery. I had started to pick up a lot of
                frameworks like angular, Vue, React, and nodejs. I had spent much of my time outside of school trying to
                build on the front end. I had wanted a way to learn restful so I spent a lot of time learning Python and
                using its frameworks like Django and Flask.
            </p>

            

           
        </div>
    </div>
</div>

    {{end}}