{{define "blog"}}

<div class="tab-pane fade " id="blog" role="tabpanel" aria-labelledby="blog-tab">

    <div class="row">
        <div class="col-4">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">What I am working on Sept 9th 2023</a>
           
          </div>
        </div>
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <h4 id="list-item-1">What am I working on?</h4>
            <p>
              I am trying to find a way to use the command gonew more.  I believe it is a great command that save a lot of time.  The project
              that I am working on is <a href="https://github.com/golangast/goservershell">this</a> It is a shell project that allows me to 
              generate a project quickly and easily so that I do not have to do things from scratch.  

              Things I have added to the project.
              <ol class="list-group list-group-numbered">
                <li class="list-group-item">1. Security</li>
                <li class="list-group-item">A list item</li>
                <li class="list-group-item">A list item</li>
              </ol>
            </p>
            
          </div>
        </div>
      </div>

</div>

{{end}}