{{define "projects"}}

<div rel="prefetch"  class="tab-pane fade " id="projects" role="tabpanel" aria-labelledby="projects-tab">
  <meta name="description" content="project of this site and what I used">
  <meta name="keywords" content="zachary endrulat history">
  <meta name="author" content="zachary endrulat">
  <meta name="robots" content="follow, index">

  <table class="table table-striped-columns table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Why?</th>
        <th scope="col">Video</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="https://github.com/golangast/switchterm" target="_blank">Switchterm</a></td>
        <td>  
          
          It is a project to allow users to create, edit, and run go functions, bash, custom commands.

    </td>
        <td>It allows for ease of creating and running commands</td>
        <td>
          <a href="https://www.youtube.com/watch?v=7Wdoy_aPr0c" target="_blank">Video</a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href="https://github.com/golangast/goservershell" target="_blank">Goservershell</a></td>
        <td>  
          
          is a project that is a shell that you can pull down with gonew so that you 
          do not need to do everything from scratch. 
    </td>
        <td>It allows for ease of creating websites.</td>
        <td>
          <a href="https://www.youtube.com/watch?v=bwti-IZ5mUE" target="_blank">Video</a>
        </td>
      </tr>
    
      <tr>
        <th scope="row">3</th>
        <td><a href="https://github.com/golangast/gentil" target="_blank">Gentil</a></td>
        <td>A simplified fs api to allow for quick building and editing of files</td>
        <td>I had built another project with editing files and wanted just the greatest api of it</td>
        <td>None</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><a href="https://github.com/golangast/groundup" target="_blank">Groundup</a></td>
        <td>Was an app to generate an app and database but when gonew came out it wasn't as much needed.</td>
        <td>Was a great way to learn about generating code and filesystems and application processes.</td>
        <td><a href="https://www.youtube.com/watch?v=bwti-IZ5mUE" target="_blank">Video</a></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><a href="https://golangast.github.io/nouns/" target="_blank">Frontend design</a></td>
        <td>Wanted to work on frontend designs that were smooth and from scratch</td>
        <td>Wanted to save space when designing</td>
        <td>None</a></td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Just hit the game tab and it will take you to it.</td>
        <td>Wanted to see if I can develop a game with go websockets and javascript</td>
        <td>Really wanted a movable character that was a gopher</td>
        <td>None</a></td>
      </tr>
      
    </tbody>
  </table>
</div>

{{end}}
